<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
    <h2>Quiz</h2>

      <form method="post">
        <p class="submit"><input type="submit" name="First Button" value="First"></p>
        <p class="submit"><input type="submit" name="Second Button" value="Second"></p>
        <p class="submit"><input type="submit" name="Third Button" value="Third"></p>
        <p class="submit"><input type="submit" name="Fourth Button" value="Fourth"></p>
        <p class="submit"><input type="submit" name="Fifth Button" value="Fifth"></p>
      </form>

</body>
</html>